<a href="https://colab.research.google.com/github/Pugianf/Big_Data_and_Public_Sector_I/blob/main/Aula_1_2021_10_14.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# bloco de importação de biblioteca 
import pandas as pd
import numpy  as np
#import zipfile
from zipfile import ZipFile

In [ ]:
## montando o google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Definindo a pasta de leitura do arquivo
sCaminho = '/content/drive/MyDrive/Projetos/IDP/MBA/SetorPublicoI/PNADCOVID/'

## Lendo os arquivos zipados
sArquivo = f"{sCaminho}PNADC_042019.zip"
with ZipFile(sArquivo) as z:
    PNAD_COVID_112020 = pd.read_csv(z.open("PNAD_COVID_112020.csv"))
    print(*z.namelist(),sep="\n")
#print(sArquivo)

PNAD_COVID_112020.csv

In [ ]:
# Vendo as 5 primeiras  linhas
PNAD_COVID_112020.head()

    Ano  UF  CAPITAL  RM_RIDE  V1008  ...  F002A3  F002A4  F002A5  F0061  F006
0  2020  11     11.0      NaN      1  ...       1       2       1      1   1.0
1  2020  11     11.0      NaN      1  ...       1       2       1      1   1.0
2  2020  11     11.0      NaN      1  ...       1       2       1      1   1.0
3  2020  11     11.0      NaN      1  ...       1       2       1      1   1.0
4  2020  11     11.0      NaN      2  ...       1       2       1      1   1.0

[5 rows x 148 columns]

In [ ]:
# vendo  o tamanho da base
print(f"Linhas: {PNAD_COVID_112020.shape[0]}; Colunas: {PNAD_COVID_112020.shape[1]}")

Linhas: 381438; Colunas: 148

In [ ]:
PNAD_COVID_112020.describe()

            Ano             UF  ...          F0061           F006
count  381438.0  381438.000000  ...  381438.000000  361256.000000
mean     2020.0      31.609470  ...       1.067610       1.638326
std         0.0      10.876455  ...       0.425013       1.080441
min      2020.0      11.000000  ...       1.000000       1.000000
25%      2020.0      24.000000  ...       1.000000       1.000000
50%      2020.0      31.000000  ...       1.000000       1.000000
75%      2020.0      41.000000  ...       1.000000       2.000000
max      2020.0      53.000000  ...       9.000000      99.000000

[8 rows x 148 columns]

In [ ]:
PNAD_COVID_112020.A007A.value_counts(dropna=True,normalize=True )

2.0    0.298878
6.0    0.212340
1.0    0.209936
5.0    0.209135
4.0    0.041667
3.0    0.028045
Name: A007A, dtype: float64

In [ ]:
#... e selecionar apenas as linhas que não fizeram atividades por problemas de saúde própria (A007A == 3)
PNAD_COVID_112020.loc[PNAD_COVID_112020["A007A"] == 3]

         Ano  UF  CAPITAL  RM_RIDE  V1008  ...  F002A3  F002A4  F002A5  F0061  F006
36318   2020  15      NaN      NaN      8  ...       1       1       1      1   2.0
46399   2020  17      NaN      NaN     10  ...       1       2       1      1   1.0
51524   2020  21      NaN      NaN      7  ...       1       2       1      1   2.0
54134   2020  21      NaN      NaN      8  ...       1       2       1      1   5.0
68436   2020  22     22.0     22.0      1  ...       1       2       1      1   1.0
69582   2020  22     22.0     22.0      2  ...       1       2       1      1   1.0
73049   2020  22      NaN      NaN      3  ...       1       1       1      2   NaN
74290   2020  22      NaN      NaN      4  ...       1       2       1      1   2.0
90603   2020  23      NaN      NaN      5  ...       1       2       1      1   2.0
98667   2020  24      NaN      NaN      9  ...       1       2       1      1   1.0
105324  2020  25      NaN      NaN      7  ...       1       2       1      2   NaN
119627  2020  26      NaN      NaN      2  ...       1       2       1      1   2.0
119985  2020  26      NaN      NaN      9  ...       1       2       1      1   3.0
129026  2020  27     27.0     27.0      4  ...       1       2       1      1   1.0
135183  2020  27      NaN      NaN      8  ...       1       2       1      1   1.0
136286  2020  27      NaN      NaN     12  ...       1       2       1      1   2.0
141129  2020  28      NaN     28.0      4  ...       1       1       1      1   1.0
141130  2020  28      NaN     28.0      4  ...       1       1       1      1   1.0
143693  2020  28      NaN      NaN      1  ...       1       2       1      1   1.0
163012  2020  29      NaN      NaN      7  ...       1       2       1      1   1.0
166539  2020  31     31.0     31.0      1  ...       1       1       1      1   2.0
166555  2020  31     31.0     31.0      7  ...       1       2       1      1   1.0
166556  2020  31     31.0     31.0      7  ...       1       2       1      1   1.0
188984  2020  31      NaN      NaN      2  ...       1       2       1      1   2.0
188985  2020  31      NaN      NaN      2  ...       1       2       1      1   2.0
206104  2020  32      NaN      NaN      3  ...       1       2       1      1   1.0
212123  2020  32      NaN      NaN      9  ...       1       2       1      1   1.0
212491  2020  32      NaN      NaN     10  ...       1       2       1      1   1.0
220579  2020  33     33.0     33.0      5  ...       1       1       1      1   1.0
226777  2020  33      NaN     33.0      3  ...       1       2       1      1   1.0
265253  2020  35      NaN      NaN      6  ...       1       2       1      1   1.0
270017  2020  35      NaN      NaN     11  ...       1       2       1      1   1.0
298542  2020  42      NaN      NaN      5  ...       1       2       1      1   1.0
324968  2020  43      NaN     43.0      7  ...       1       1       1      1   1.0
342529  2020  50     50.0      NaN      6  ...       1       2       1      1   2.0

[35 rows x 148 columns]

In [ ]:
## Contando o número de homens e mulheres
# Mudando o rótulo das colunas
PNAD_COVID_112020['Sexo'] = PNAD_COVID_112020['A003'].apply(lambda i: "Homem" if i == 1 else "Mulher")

# Contando usando value_counts
PNAD_COVID_112020.Sexo.value_counts(dropna=False)

Mulher    198827
Homem     182611
Name: Sexo, dtype: int64

In [ ]:
# Todas as colunas
PNAD_COVID_112020.groupby("Sexo").count()

           Ano      UF  CAPITAL  RM_RIDE  ...  F002A4  F002A5   F0061    F006
Sexo                                      ...
Homem   182611  182611    42016    56521  ...  182611  182611  182611  172917
Mulher  198827  198827    48729    64898  ...  198827  198827  198827  188339

[2 rows x 148 columns]

In [ ]:
## Usando value_counts para obter valores percentuais
PNAD_COVID_112020.Sexo.value_counts(normalize=True, dropna=True)

Mulher    0.521256
Homem     0.478744
Name: Sexo, dtype: float64

In [ ]:
# Temos que usar groupby!
# Contando em termos absolutos
PNAD_COVID_112020.groupby("Sexo")["V1032"].sum()

Sexo
Homem     1.034634e+08
Mulher    1.081890e+08
Name: V1032, dtype: float64

In [ ]:
# Termos percentuais
contagem_sexo = PNAD_COVID_112020.groupby("Sexo")["V1032"].sum()
percentual_sexo = contagem_sexo / PNAD_COVID_112020["V1032"].sum() *100
percentual_sexo

Sexo
Homem     48.883656
Mulher    51.116344
Name: V1032, dtype: float64

In [ ]:
## Vendo gênero por estado
# Sem pesos
PNAD_COVID_112020.groupby(["UF", "Sexo"])["Sexo"].count().unstack()

Sexo  Homem  Mulher
UF
11     2942    3059
12     2937    3165
13     5076    5265
14     2776    2838
15     5750    6128
16     1184    1288
17     2525    2562
21     9812   10592
22     4037    4443
23     7691    8491
24     3657    4118
25     4640    5233
26     8090    9048
27     5411    5992
28     3785    4228
29     8095    8968
31    16648   17691
32     7627    8236
33    13417   15648
35    15283   16821
41     9613   10259
42    11257   12175
43    10552   11379
50     4187    4470
51     5615    5744
52     6823    7372
53     3181    3614

In [ ]:
# Com pesos
contagem_sexo_uf = PNAD_COVID_112020.groupby(["UF", "Sexo"])["V1032"].sum()
pesos_uf = PNAD_COVID_112020.groupby("UF")["V1032"].sum()
percentual_sexo_uf = (contagem_sexo_uf / pesos_uf).unstack()
percentual_sexo_uf
#pesos_uf

Sexo     Homem    Mulher
UF
11    0.505392  0.494608
12    0.500026  0.499974
13    0.501890  0.498110
14    0.517738  0.482262
15    0.501164  0.498836
16    0.500688  0.499312
17    0.503213  0.496787
21    0.491300  0.508700
22    0.484030  0.515970
23    0.484975  0.515025
24    0.487399  0.512601
25    0.482430  0.517570
26    0.479991  0.520009
27    0.479147  0.520853
28    0.482511  0.517489
29    0.485675  0.514325
31    0.492328  0.507672
32    0.492251  0.507749
33    0.478354  0.521646
35    0.487666  0.512334
41    0.489761  0.510239
42    0.496108  0.503892
43    0.486587  0.513413
50    0.496049  0.503951
51    0.506632  0.493368
52    0.495704  0.504296
53    0.480551  0.519449