<a href="https://colab.research.google.com/github/Pugianf/Big_Data_and_Public_Sector_I/blob/main/Trabalho_Final_Big_Data_e_Setor_P%C3%BAblico_I_Popula%C3%A7%C3%A3o%2C_Demografia_e_Mercado_de_Trabalho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# importando as bibliotecas necessárias

import pandas as pd
import numpy as np

In [6]:
# conectando ao google drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [8]:
# lendo o arquivo

suicidio_estados = pd.read_excel('/content/drive/MyDrive/IDP/Dataset/suicidios_estados.xlsx')

suicidio_estados.head()

   Código_UF   Nome_UF  ...  Populacao_Maior18  Taxa_Desocupacao
0         11  Rondônia  ...            1039911          0.407940
1         11  Rondônia  ...            1131333          0.398602
2         11  Rondônia  ...            1165363          0.355715
3         11  Rondônia  ...            1201136          0.355271
4         11  Rondônia  ...            1220173          0.336144

[5 rows x 16 columns]

In [9]:
# vendo  o tamanho da base

print(f"Linhas: {suicidio_estados.shape[0]}; Colunas: {suicidio_estados.shape[1]}")

Linhas: 162; Colunas: 16

In [11]:
# analisando a base

suicidio_estados.describe()

        Código_UF  Cód_Região  ...  Populacao_Maior18  Taxa_Desocupacao
count  162.000000  162.000000  ...       1.620000e+02        162.000000
mean    29.111111    2.814815  ...       5.336551e+06          0.319348
std     12.820791    1.252189  ...       6.521910e+06          0.146167
min     11.000000    1.000000  ...       2.714160e+05          0.121674
25%     17.000000    2.000000  ...       1.882850e+06          0.194308
50%     27.000000    3.000000  ...       2.734735e+06          0.248511
75%     41.000000    4.000000  ...       6.391153e+06          0.447707
max     53.000000    5.000000  ...       3.406099e+07          0.677868

[8 rows x 15 columns]