<a href="https://colab.research.google.com/github/Pugianf/Big_Data_and_Public_Sector_I/blob/main/Trabalho_Final_Big_Data_e_Setor_P%C3%BAblico_I_Popula%C3%A7%C3%A3o%2C_Demografia_e_Mercado_de_Trabalho.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
# importando as bibliotecas necessárias

import pandas as pd
import numpy as np

In [89]:
# conectando ao google drive

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [90]:
# lendo o arquivo

suicidio_estados = pd.read_excel('/content/drive/MyDrive/IDP/Dataset/suicidios_estados.xlsx')

suicidio_estados.head(12)

    Código_UF   Nome_UF  ...  Populacao_Maior18  Taxa_Desocupacao
0          11  Rondônia  ...            1039911          0.407940
1          11  Rondônia  ...            1131333          0.398602
2          11  Rondônia  ...            1165363          0.355715
3          11  Rondônia  ...            1201136          0.355271
4          11  Rondônia  ...            1220173          0.336144
5          11  Rondônia  ...            1240408          0.314526
6          12      Acre  ...             438101          0.193043
7          12      Acre  ...             454636          0.186769
8          12      Acre  ...             471557          0.160102
9          12      Acre  ...             479421          0.171439
10         12      Acre  ...             486495          0.163026
11         12      Acre  ...             514883          0.163955

[12 rows x 16 columns]

In [91]:
# vendo  o tamanho da base

print(f"Linhas: {suicidio_estados.shape[0]}; Colunas: {suicidio_estados.shape[1]}")

Linhas: 162; Colunas: 16

In [92]:
# verificando os anos que constam no DataFrame

suicidio_estados.Ano.unique()

array([2010, 2011, 2012, 2013, 2014, 2015])

In [93]:
# verificando a presença de valores nulos no DataFrame

suicidio_estados.isnull().values.any()

False

In [94]:
# analisando a base

suicidio_estados.describe()

        Código_UF  Cód_Região  ...  Populacao_Maior18  Taxa_Desocupacao
count  162.000000  162.000000  ...       1.620000e+02        162.000000
mean    29.111111    2.814815  ...       5.336551e+06          0.319348
std     12.820791    1.252189  ...       6.521910e+06          0.146167
min     11.000000    1.000000  ...       2.714160e+05          0.121674
25%     17.000000    2.000000  ...       1.882850e+06          0.194308
50%     27.000000    3.000000  ...       2.734735e+06          0.248511
75%     41.000000    4.000000  ...       6.391153e+06          0.447707
max     53.000000    5.000000  ...       3.406099e+07          0.677868

[8 rows x 15 columns]

In [95]:
# ao se agrupar o df pelos nomes das UFs e pelos anos, é possível verificar que as variáveis Código_UF e Cód_Região são constantes no tempo

suicidio_estados.groupby(['Nome_UF', 'Ano']).first()

                Código_UF  Cód_Região  ...  Populacao_Maior18  Taxa_Desocupacao
Nome_UF   Ano                          ...
Acre      2010         12           2  ...             438101          0.193043
          2011         12           2  ...             454636          0.186769
          2012         12           2  ...             471557          0.160102
          2013         12           2  ...             479421          0.171439
          2014         12           2  ...             486495          0.163026
...                   ...         ...  ...                ...               ...
Tocantins 2011         17           2  ...             959507          0.198621
          2012         17           2  ...             975355          0.189121
          2013         17           2  ...             988292          0.190130
          2014         17           2  ...            1030906          0.217784
          2015         17           2  ...            1065513          0.215817

[162 rows x 14 columns]

In [96]:
# verificando a maior e menor renda média por UF, considerando todos os anos

# Maior renda media: Distrito Federal
# Menor renda media: Maranhão

suicidio_estados.groupby(by='Nome_UF').mean()['Renda_Media'].sort_values(ascending=False).reset_index()

                Nome_UF  Renda_Media
0      Distrito Federal  2466.741667
1             São Paulo  1571.781667
2        Rio de Janeiro  1482.140000
3        Santa Catarina  1435.761667
4    Mato Grosso do Sul  1399.443333
5                Paraná  1391.240000
6           Mato Grosso  1359.230000
7     Rio Grande do Sul  1285.716667
8                 Goiás  1267.768333
9        Espírito Santo  1224.313333
10                Amapá  1223.601667
11              Roraima  1209.796667
12         Minas Gerais  1148.536667
13             Rondônia  1125.855000
14            Tocantins  1047.556667
15             Amazonas  1023.708333
16                 Acre   989.101667
17  Rio Grande do Norte   913.891667
18              Sergipe   864.403333
19           Pernambuco   853.488333
20                 Pará   840.968333
21                Bahia   828.253333
22              Paraíba   820.061667
23              Alagoas   760.915000
24                Ceará   736.173333
25                Piauí   684.743333
26             Maranhão   666.338333

In [97]:
# substituindo os valores em Cod_Região pelos nomes da Regiões usando replace()

dicionario_regiões = {1: 'Centro-Oeste', 2: 'Norte', 3: 'Nordeste', 4: 'Sul', 5: 'Sudeste'}

suicidio_estados['Cód_Região'].replace(dicionario_regiões, inplace=True)

In [102]:
# número de estados em cada região

for região in dicionario_regiões.values():
  
  numero_estados = len(suicidio_estados[suicidio_estados['Cód_Região'] == região]['Nome_UF'].unique())
  print(f'{região} = {numero_estados} estados')

Centro-Oeste = 4 estados
Norte = 8 estados
Nordeste = 8 estados
Sul = 3 estados
Sudeste = 4 estados

In [82]:
# Número de estados por região:

Norte = 8

suicidio_estados[suicidio_estados['Ano'] == 2015].groupby('Cód_Região').sum()['Taxa_Suicidios_100mil_habitantes'].sort_values(ascending=False).reset_index()

     Cód_Região  Taxa_Suicidios_100mil_habitantes
0         Norte                         48.549307
1      Nordeste                         40.261822
2           Sul                         25.843913
3  Centro-Oeste                         24.082543
4       Sudeste                         19.404599